$default-day:green;
$invalid-day:gray;
$weekend-day:yellow;
$current-day:white;

/*style for calendar*/

.cal {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    display: inline-block;
    width: 400px;
}


/*style for month*/

.cal-m {}


/*style for week*/

.cal-w {}


/* style for days*/

.cal-d {
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 14.28%;
    display: inline-block;
    background-color: $default-day;
}


/*Style for current date*/

.cal-cd {
    background-color: $current-day;
}


/*Style for weekend*/

.cal-we {
    background-color: $weekend-day;
}


/*Style for invalid date*/

.cal-invalid {
    background-color: $invalid-day;
    color: black;
}


/*Style for month header*/

.cal-m-header {
    text-align: center;
}


/*Style for week header*/

.cal-w-header {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    width: 100%;
}


/*Style for day header*/

.cal-d-header {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    display: inline-block;
    min-width: 14.28%;
    text-align: center;
}